/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(6, 34, 8, 0.562);
}
.container header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  align-items: center;
}
@media (max-width: 500px) {
  .container header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
  }
}
.container header h1 {
  font-size: 3rem;
  color: rgba(47, 0, 255, 0.582);
}
@media (max-width: 500px) {
  .container header h1 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.container header nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
@media (max-width: 500px) {
  .container header nav {
    width: 100%;
  }
}
.container header nav a {
  color: rgba(47, 0, 255, 0.582);
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 500px) {
  .container header nav a {
    font-size: 1rem;
  }
}
.container h2 {
  font-size: 4rem;
  margin: 20px 0;
  color: rgba(47, 0, 255, 0.582);
}
@media (max-width: 500px) {
  .container h2 {
    font-size: 2.5rem;
    color: rgba(47, 0, 255, 0.582);
    margin: 20px 0;
  }
}
.container h3 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  padding: 20px 0;
  color: rgba(47, 0, 255, 0.582);
}
.container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .title a {
  color: blue;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.container .title p {
  margin: auto;
  padding: 0;
}
.container .title imgs {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
@media (max-width: 800px) {
  .container .title imgs {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.container p {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  margin: 10px 0;
  font-size: 1.2rem;
}
.container objheader {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px;
}
.container ul {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}
.container li {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 500px) {
  .container .img2 {
    display: none;
  }
}
